/*table*/
table tbody tr td:nth-child(n+6):nth-child(-n+9) {
    background-color: #F0F0F0;
}

table tr th:nth-child(3) {
    background-color: #E8E8E8;
}

table tbody tr td {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    cursor: default;
}

table {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}

.btn-xxs {
    padding: 2px 5px;
    font-size: 8px;
    line-height: 74%;
    border-radius: 3px;
}

.container > .row > div:nth-child(n+2) {
    border: #3c3c3c solid 2px;
}

.container > .row > p {
    font-size: 1.2em;
    margin: 0;
    line-height: 150px;
}

.section-header {
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.radio-btn-group {
    margin: 4px 4px;
}

#schedule {
    margin-bottom: 20px;
}

#staff_list {
    padding-bottom: 18px;
}

#staff_list > div > button {
    margin: 5px 5px;
}

.draggable {
    background-color: white;
    z-index: 10;
    box-shadow: 0 0 20px #777777;
}

/*search*/
input[type=search] {
    background: url(../img/search-icon.png) no-repeat 7px center;
    border: none;
    font-size: 0.7em;
    width: 20px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-box-sizing: content-box;
}

input[type=search]:focus {
    border-bottom: #aaa 1px solid;
    width: 120px;
    padding-left: 30px;
    color: #666;
    background-color: #fff;
    cursor: auto;
}

#schedule_search {
    position: absolute;
    font-size: 1.2em;
    top: 15px;
    right: 20px;
}

.schedule-search-result {
    background-color: #5bc0de !important;
}

/*定位染色*/
.career-absence {
    background-color: #adadad !important;
    color: #fff !important;
}

.career-c {
    background-color: #d9edf7;
}

.career-assist {
    background-color: #fcfbc5;
}

.career-priest {
    background-color: #dff0d8;
}

button#staff_list_move_handle {
    cursor: move;
}

/*svg line*/
.line {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    display: none;
}

/*footer*/
.foot-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #373f48;
    z-index: 50;
}

/*bootstrap扩展*/
.popover {
    background-color: #fcf8e3;
    color: #a94442;
}